@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --c-bg: #333639;
  --c-btn: #d5d5d5;
  --c-csl-btn: rgba(0, 0, 0, 0.5);
  --c-csl-btn-hover: #aaaaaa;
  --c-csl-btn-hover-selected: #cccccc;
  --csl-height: 50vh;
  --border-radius-size: 10px;
}

body {
  padding: var(--border-radius-size);
  background-color: var(--c-bg);
  color: white;
  font-family: 'Eczar', serif;
}

h1 {
  font-family: 'Eczar', serif;
}

nav {
  text-align: center;
}

nav > ul {
  list-style: none;
  background-color: var(--c-bg);
  border-radius: var(--border-radius-size);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: var(--border-radius-size);
}

nav > ul > li {
  background-color: var(--c-btn);
  border-radius: var(--border-radius-size);
  float: left;
  width: 100%;
  /* height: 65px; */
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 3;
}

nav > ul > li.clicked,
nav > ul > li:hover {
  /* Menu Drop Down Item On Hover */
  background: #959595;
  border-radius: var(--border-radius-size) var(--border-radius-size) 0px 0px;
}

ul.drop-menu-toggle li:last-child {
  /* The last child in the drop down (hover) */
  border-radius: 0px 0px var(--border-radius-size) var(--border-radius-size);
}

ul.drop-menu-toggle {
  background: #d5d5d5;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  border-radius: 0px 0px var(--border-radius-size) var(--border-radius-size);
}

ul.drop-menu-toggle li.clicked,
ul.drop-menu-toggle li:hover {
  background: #666;
  color: rgba(255, 255, 255, 0.7);
}

ul.drop-menu-toggle li {
  display: none;
}

li.clicked > ul.drop-menu-toggle li,
li:hover > ul.drop-menu-toggle li {
  display: block;
}

.hidden {
  display: none;
}




.carousel {
  padding-top: var(--border-radius-size);
  padding-bottom: var(--border-radius-size);
  height: calc(var(--csl-height) + var(--border-radius-size) * 2);
}

.carousel-image {
  opacity: 0;
  position: absolute;
  width: calc(100% - 2 * var(--border-radius-size));
  height: var(--csl-height);
  border-radius: var(--border-radius-size);
  object-fit: cover;
  z-index: -1;
}

.carousel-image[data-active] {
  opacity: 100;
}

.carousel-button {
  background: var(--c-csl-btn);
  position: absolute;
  z-index: 2;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  top: calc(65px + var(--csl-height)/2 + var(--border-radius-size) * 2);
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  border-radius: var(--border-radius-size);
}

.carousel-button:hover {
  background: var(--c-csl-btn-hover);
  color: white;
}

.carousel-button.left {
  left: 1rem;
}

.carousel-button.right {
  right: 1rem;
}

#carousel-index {
  align-items: center;
  display: flex;
  align-items: end;
  justify-content: center;
  height: calc(var(--csl-height) - var(--border-radius-size));
  gap: var(--border-radius-size);
}

.carousel-index-button {
  background: var(--c-csl-btn);
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.carousel-index-button:hover {
  background: var(--c-csl-btn-hover);
}

.carousel-index-button[data-active] {
  background: var(--c-csl-btn-hover-selected);
}
