@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --c-bg: #333639;
  --c-btn: #d5d5d5;
  --border-radius-size: 10px;
}

body {
  padding: var(--border-radius-size);
  background-color: var(--c-bg);
}

nav {
  text-align: center;
}

nav > ul {
  list-style: none;
  background-color: var(--c-bg);
  border-radius: var(--border-radius-size);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: var(--border-radius-size);
}

nav > ul > li {
  background-color: var(--c-btn);
  border-radius: var(--border-radius-size);
  float: left;
  width: 100%;
  /* height: 65px; */
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

nav > ul > li.clicked,
nav > ul > li:hover {
  /* Menu Drop Down Item On Hover */
  background: #959595;
  border-radius: var(--border-radius-size) var(--border-radius-size) 0px 0px;
}

ul.drop-menu-toggle li:last-child {
  /* The last child in the drop down (hover) */
  border-radius: 0px 0px var(--border-radius-size) var(--border-radius-size);
}

ul.drop-menu-toggle {
  background: #d5d5d5;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  border-radius: 0px 0px var(--border-radius-size) var(--border-radius-size);
}

ul.drop-menu-toggle li.clicked,
ul.drop-menu-toggle li:hover {
  background: #666;
  color: rgba(255, 255, 255, 0.7);
}

ul.drop-menu-toggle li {
  display: none;
}

li.clicked > ul.drop-menu-toggle li,
li:hover > ul.drop-menu-toggle li {
  display: block;
}

.hidden {
  display: none;
}